.navbar {
	min-height: 60px;
	margin-top: 15px;
	margin-bottom: 0px;
	padding-top: 20px;
	background: url(banner.png);
	background-repeat: no-repeat;
}
.nav-collapse.in {
	background-color: #CC5B00
}
.navbar-toggle {
	background-color: #CC5B00;
}
.in>ul {
	background-color: #CC5B00;
	margin-top: 20px;
}
.navbar-nav li a {
	font-family: 'Ubuntu', sans-serif;
	height: 30px;
	font-size: 1.2em;
	margin-top: 5px;
	margin-left: 25px;
	margin-right: 0px;
	padding: 2px;
	padding-top:3px;
	padding-bottom: 0px;
	border-radius: 3px 3px 0px 0px;
	color: #fff;	
	background-color: transparent;
	vertical-align: middle;
}
.navbar-nav li a:hover, .navbar-nav li a:focus {
	background-color: transparent;
	color: white;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover,.navbar-nav > .active > a:focus{
	background-color: transparent;
	color: black;
}

.navbar-brand {
	max-width: 106px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.3em;
	color: white;
	padding: 0px;
	margin-left: 5px
}

.navbar-brand:hover, .navbar-brand:focus {
	color: white;
}

.navbar-nav>.open> a, .navbar-nav>.open> a:focus, .navbar-nav>.open> a:hover {
	background-color: rgba(0,0,0,0.3);
	color: white;
}
.dropdown-menu {
	background-color: #CC5B00;
}
.dropdown-menu>li>a {
	margin-left: 0px;
	font-size: 1em;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
	background-image: none;
	background-color: black;
}
#bio {
	background-color: #04677E;
	border-radius: 2px;
	margin-left: 3%;
	padding: 15px;
	box-shadow: 2px 3px 1px 1px black
}
.visible-sm>#bio {
	margin-left: 0%;
}

#postBox {
	margin-left: 2%;
	width: 67%;
}
.post {
 	border: 3px solid #008466;
	border-radius: 2px;
	margin-top:10px;
	margin-bottom:10px;
		box-shadow: 2px 2px 1px 0px black
}
#carFade {
	position: absolute;
	width: 100%;
	bottom: 0%;
	height: 80px;
	z-index: 5;
	background: -moz-radial-gradient(bottom center, ellipse cover,  rgba(20,20,20,1) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, bottom center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(65%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(bottom center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
}
.item a img {
	height:400px;
	display: block;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	z-index: 10;
}
.carousel-caption {
	text-shadow: 1px 1px 4px black;
	font-size: 1.5em
}
.carousel-indicators>li{
	background-color: black;
	color: black;
	border-color: black;
}
.carousel-control {
	z-index: 11;
	opacity: 1;
	width: 10%;
	height: 50%; 
	top: 50%;
	transition: top 1s;
	-webkit-transition: top 1s;
}
.carousel-control:hover {
	opacity: 1;
	top: 49%;
}
.carousel-control:focus {
	opacity: 1;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Ubuntu', sans-serif;
}
#bio>a:link, #bio>a:hover {
	color: #ddd;
}
html{

}

body{
	background-color: #FFF;
	color: rgb(20,20,20);
}

hr {
	margin: 0px 10px 10px 10px;
	border-color: black;
}


.container {
	box-shadow: 2px 2px 15px 0px #111;
	padding-top: 80px;
}
