.navbar {
	min-height: 80px;
	background:url("shirtbanner.png");


}
.navbar-brand, .navbar-nav li a {
	height: 60px;
	padding-top: 25px;
	color:rgb(200, 200, 200);
}

.navbar-inverse .navbar-brand {
  color:rgb(200, 200, 200);
}

.navbar-inverse .navbar-nav > li > a {
	color:rgb(200, 200, 200);
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color:rgb(200, 200, 200);
  background-color: transparent;
}

.img-responsive .carousel {
	height:400px;
}

.postbox {
	background-color: #DDDDDD;
	border-radius: 10px;
	margin-top:10px;
	margin-bottom:10px;
}

html{

}

body{
	background-color: #000;
}
